@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.8s;
    z-index: 1;
  }
}

.text-preview {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
}
.text-preview.expanded {
  -webkit-line-clamp: unset;
}

.msgs-container-height{
 min-height: calc(100vh - 96px);
}

.top-clip {
  clip-path: polygon(
    96.982% 58.418%,
    96.982% 58.418%,
    96.922% 60.734%,
    96.744% 62.949%,
    96.453% 65.066%,
    96.052% 67.086%,
    95.545% 69.011%,
    94.935% 70.845%,
    94.227% 72.589%,
    93.425% 74.245%,
    92.531% 75.816%,
    91.551% 77.303%,
    91.551% 77.303%,
    90.487% 78.712%,
    89.343% 80.041%,
    88.124% 81.294%,
    86.833% 82.473%,
    85.474% 83.579%,
    84.051% 84.616%,
    82.568% 85.584%,
    81.028% 86.487%,
    79.436% 87.326%,
    77.795% 88.103%,
    77.795% 88.103%,
    74.384% 89.482%,
    70.827% 90.641%,
    67.156% 91.597%,
    63.401% 92.368%,
    59.593% 92.972%,
    55.764% 93.426%,
    51.946% 93.749%,
    48.168% 93.957%,
    44.463% 94.07%,
    40.861% 94.103%,
    40.861% 94.103%,
    37.402% 93.829%,
    34.084% 93.029%,
    30.912% 91.735%,
    27.89% 89.978%,
    25.02% 87.792%,
    22.308% 85.207%,
    19.756% 82.255%,
    17.369% 78.97%,
    15.151% 75.382%,
    13.105% 71.524%,
    13.105% 71.524%,
    11.235% 67.427%,
    9.546% 63.124%,
    8.041% 58.647%,
    6.724% 54.029%,
    5.599% 49.301%,
    4.67% 44.496%,
    3.941% 39.646%,
    3.416% 34.783%,
    3.097% 29.938%,
    2.99% 25.145%,
    2.99% 25.145%,
    3.03% 22.853%,
    3.147% 20.723%,
    3.34% 18.751%,
    3.606% 16.929%,
    3.944% 15.253%,
    4.353% 13.716%,
    4.83% 12.315%,
    5.372% 11.042%,
    5.98% 9.893%,
    6.649% 8.861%,
    6.649% 8.861%,
    7.382% 7.939%,
    8.174% 7.123%,
    9.026% 6.408%,
    9.934% 5.789%,
    10.897% 5.259%,
    11.915% 4.816%,
    12.984% 4.452%,
    14.104% 4.163%,
    15.272% 3.944%,
    16.488% 3.789%,
    16.488% 3.789%,
    17.748% 3.694%,
    19.051% 3.653%,
    20.394% 3.661%,
    21.777% 3.713%,
    23.197% 3.802%,
    24.653% 3.925%,
    26.142% 4.075%,
    27.664% 4.248%,
    29.217% 4.437%,
    30.798% 4.638%,
    30.798% 4.638%,
    30.885% 4.649%,
    30.972% 4.66%,
    31.06% 4.672%,
    31.147% 4.683%,
    31.235% 4.694%,
    31.323% 4.705%,
    31.41% 4.717%,
    31.498% 4.728%,
    31.586% 4.739%,
    31.674% 4.751%,
    31.674% 4.751%,
    33.206% 4.948%,
    34.759% 5.143%,
    36.332% 5.332%,
    37.923% 5.511%,
    39.532% 5.674%,
    41.156% 5.818%,
    42.793% 5.938%,
    44.443% 6.029%,
    46.104% 6.087%,
    47.774% 6.108%,
    47.774% 6.108%,
    51.322% 6.262%,
    54.879% 6.718%,
    58.427% 7.47%,
    61.944% 8.51%,
    65.409% 9.832%,
    68.801% 11.427%,
    72.1% 13.289%,
    75.284% 15.41%,
    78.333% 17.783%,
    81.227% 20.402%,
    81.227% 20.402%,
    83.942% 23.258%,
    86.46% 26.343%,
    88.758% 29.651%,
    90.817% 33.174%,
    92.615% 36.904%,
    94.132% 40.835%,
    95.348% 44.959%,
    96.242% 49.269%,
    96.794% 53.757%,
    96.982% 58.418%
  );
}

.bottom-clip {
  aspect-ratio: 16/9;
  clip-path: polygon(
    98.565% 33.781%,
    98.565% 33.781%,
    98.376% 39.151%,
    97.825% 44.354%,
    96.932% 49.379%,
    95.716% 54.212%,
    94.198% 58.844%,
    92.399% 63.261%,
    90.339% 67.453%,
    88.037% 71.408%,
    85.516% 75.114%,
    82.794% 78.56%,
    82.794% 78.56%,
    79.893% 81.732%,
    76.834% 84.62%,
    73.637% 87.211%,
    70.322% 89.495%,
    66.911% 91.459%,
    63.423% 93.092%,
    59.879% 94.382%,
    56.3% 95.318%,
    52.707% 95.889%,
    49.119% 96.081%,
    49.119% 96.081%,
    44.29% 95.505%,
    39.719% 94.606%,
    35.405% 93.38%,
    31.349% 91.821%,
    27.552% 89.924%,
    24.012% 87.686%,
    20.73% 85.099%,
    17.706% 82.161%,
    14.941% 78.865%,
    12.434% 75.207%,
    12.434% 75.207%,
    10.186% 71.183%,
    8.196% 66.787%,
    6.464% 62.012%,
    4.99% 56.855%,
    3.775% 51.309%,
    2.818% 45.37%,
    2.12% 39.031%,
    1.68% 32.29%,
    1.5% 25.138%,
    1.579% 17.573%,
    1.579% 17.573%,
    1.689% 16.277%,
    1.819% 15.049%,
    1.969% 13.887%,
    2.138% 12.791%,
    2.326% 11.759%,
    2.533% 10.79%,
    2.759% 9.882%,
    3.003% 9.034%,
    3.266% 8.245%,
    3.546% 7.513%,
    3.546% 7.513%,
    3.843% 6.837%,
    4.158% 6.215%,
    4.491% 5.645%,
    4.84% 5.128%,
    5.206% 4.66%,
    5.588% 4.242%,
    5.987% 3.871%,
    6.402% 3.547%,
    6.832% 3.268%,
    7.278% 3.033%,
    7.278% 3.033%,
    8.217% 2.688%,
    9.214% 2.505%,
    10.269% 2.471%,
    11.377% 2.578%,
    12.539% 2.813%,
    13.751% 3.168%,
    15.012% 3.632%,
    16.32% 4.193%,
    17.671% 4.843%,
    19.066% 5.57%,
    19.066% 5.57%,
    19.723% 5.929%,
    20.388% 6.302%,
    21.062% 6.686%,
    21.744% 7.082%,
    22.433% 7.487%,
    23.13% 7.902%,
    23.834% 8.325%,
    24.545% 8.755%,
    25.263% 9.191%,
    25.988% 9.632%,
    25.988% 9.632%,
    28.446% 11.122%,
    30.969% 12.618%,
    33.547% 14.081%,
    36.174% 15.473%,
    38.843% 16.756%,
    41.544% 17.891%,
    44.27% 18.841%,
    47.015% 19.566%,
    49.769% 20.03%,
    52.526% 20.193%,
    52.526% 20.193%,
    54.314% 20.151%,
    56.094% 20.032%,
    57.863% 19.843%,
    59.621% 19.592%,
    61.364% 19.286%,
    63.092% 18.933%,
    64.802% 18.541%,
    66.492% 18.117%,
    68.16% 17.669%,
    69.804% 17.206%,
    69.804% 17.206%,
    70.174% 17.099%,
    70.542% 16.992%,
    70.909% 16.885%,
    71.274% 16.778%,
    71.638% 16.67%,
    72% 16.563%,
    72.361% 16.455%,
    72.721% 16.348%,
    73.079% 16.241%,
    73.436% 16.135%,
    73.436% 16.135%,
    74.64% 15.776%,
    75.825% 15.425%,
    76.991% 15.088%,
    78.136% 14.766%,
    79.259% 14.464%,
    80.361% 14.185%,
    81.438% 13.932%,
    82.492% 13.71%,
    83.521% 13.522%,
    84.524% 13.37%,
    84.524% 13.37%,
    85.781% 13.236%,
    86.991% 13.177%,
    88.152% 13.203%,
    89.262% 13.319%,
    90.319% 13.534%,
    91.321% 13.856%,
    92.267% 14.291%,
    93.154% 14.847%,
    93.98% 15.533%,
    94.745% 16.355%,
    94.745% 16.355%,
    95.444% 17.319%,
    96.077% 18.435%,
    96.644% 19.71%,
    97.142% 21.154%,
    97.568% 22.773%,
    97.922% 24.576%,
    98.2% 26.57%,
    98.401% 28.764%,
    98.523% 31.165%,
    98.565% 33.781%
  );
}
